# Resend API Key for email notifications
RESEND_API_KEY=
# The email address that will receive the notifications
# Admin Configuration
ADMIN_EMAIL=tanachiddo@gmail.com
VITE_ADMIN_EMAIL=tanachiddo@gmail.com
# Optional: Verified sender email address registered on Resend (Defaults to "Lalokhumed Alerts <onboarding@resend.dev>")
SENDER_EMAIL=
